<div class="bg-yellow-50 min-h-screen flex flex-col justify-between items-center">
  <div class="text-gray-500 font-bold text-center font-zen mt-20">
    <h1 class="text-9xl">ウホ名言</h1>
  </div>
  <div class="text-9xl">
      🦍
  </div>
  <div class="mb-20">
    <button class="ring-2 ring-black relative overflow-hidden rounded-md bg-yellow-500 px-5 py-5
      text-black hover:bg-amber-700 cursor-pointer transition-all duration-300
      [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] 
      active:translate-y-1 active:scale-x-110 active:scale-y-90">
      カテゴリーを選ぶ</button>
  </div>
</div>
