<div class="bg-yellow-50 min-h-screen p-5">
  <div class="text-gray-500 font-bold text-center mt-10">
    <h1 class="text-7xl sm:text-8xl">ウホ名言</h1>
  </div>
  <div aria-hidden="true" class="h-12"></div>
  <div class="flex justify-center mt-20">
    <%= image_tag 'gorilla.svg', class: 'my-15' %>
  </div>
  <div class="flex justify-center items-center pt-11 mt-11">
    <%= link_to category_path, class: "ring-2 ring-black
      rounded-md bg-yellow-500 px-5 py-5 text-black md:hover:bg-amber-600
      cursor-pointer" do %>
      カテゴリを選ぶ
    <% end %>
  </div>
</div>
