<div class="flex flex-col flex-grow items-center justify-between h-full w-full p-6">
  <div class="flex flex-col items-center md:pt-10">
    <h1 class="text-7xl text-gray-500 font-bold py-3 md:py-10">ウホ名言</h1>
  </div>

   <div class="mt-28"></div>
    <div>
      <%= image_tag 'gorilla.svg' %>
    </div>

  <div class="mt-28 py-5">
    <div class="text-center">
      <%= link_to "カテゴリを選ぶ", categories_path, class: "ring-2 ring-black
          rounded-md bg-yellow-500 px-5 py-5 text-black md:hover:bg-amber-600"%>
    </div>   
  </div>
</div>
