<div class="flex flex-col flex-grow items-center justify-center p-6">
  <h1 class="text-7xl text-gray-500 font-bold mt-5 md:pt-5">ウホ名言</h1>

  <div class="mt-28">
    <%= image_tag 'gorilla.svg' %>
  </div>

  <div class="pt-10 md:mt-28">
    <%= link_to "カテゴリを選ぶ", categories_path, class: "ring-2 ring-black
      rounded-md bg-yellow-500 px-5 py-5 text-black md:hover:bg-amber-600"%>
  </div>
</div>
