<div class="flex items-center justify-center bg-gray-100 text-gray-500 text-center p-4">
  <p>© 2025 ウホ名言<br>
    <a href="https://x.com/tey__runteq" target="_blank" class="text-blue-400">
      お問い合わせはこちら
    </a>
  </p>
</div>
