<div class="flex flex-col items-center justify-center bg-uho-light_gray text-gray-500 text-center border-t border-uho-middle_gray p-2">
  <div>© 2025 ウホ名言</div>
    <div>
      <a href="https://x.com/tey__runteq" target="_blank" class="text-uho-middle_blue">
          お問い合わせはこちら
      </a>
    </div>
</div>
