<div class="p-2 2xl:p-6">
  <div class="flex flex-col flex-grow items-center w-full pt-2 md:pt-4 2xl:pt-10">
    <h1 class="text-6xl md:text-7xl text-uho-dark_gray font-bold"><%= t('uho_quotes.title') %></h1>

    <div class="opacity-100 md:opacity-0 md:animate-fade-in">
      <div class="pt-32 md:pt-36">
        <div>
         <%= image_tag 'uho.svg', class: "animate-yurayura transition-transform md:hover:pause" %>
        </div>
      </div>
    </div>

    <div class="pt-16 md:pt-24 2xl:pt-32 pb-6">
      <div class="text-center">
        <%= link_to "カテゴリを選ぶ", categories_path,
            class: "block ring-2 ring-uho-brown rounded-full bg-uho-middle_yellow px-6 py-6 text-black hover-animation"%>
      </div> 
    </div>
  </div>
</div>
