<div class="p-4 md:p-10 2xl:p-14">
  <div class="flex flex-col flex-grow items-center w-full pt-10 md:pt-10 2xl:pt-20">
    <h1 class="text-6xl md:text-7xl text-uho-dark_gray font-bold"><%= t('uho_quotes.title') %></h1>

    <div class="opacity-100 md:opacity-0 md:animate-fade-in">
      <div class="pt-32 md:pt-36">
        <div>
         <%= image_tag 'gorilla.svg', class: "md:animate-yurayura transition-transform md:hover:pause" %>
        </div>
      </div>
    </div>

    <div class="pt-16 md:pt-24 2xl:pt-32 pb-6">
      <div class="text-center">
        <%= link_to "カテゴリを選ぶ", categories_path,
            class: "block ring-2 ring-uho-brown rounded-md bg-uho-middle_yellow px-5 py-5 text-black hover-animation"%>
      </div> 
    </div>
  </div>
</div>
