<div class="p-4 md:p-10 2xl:p-16">
  <div class="flex flex-col flex-grow items-center w-full pt-10 md:pt-20 2xl:pt-28">
    <h1 class="text-6xl md:text-7xl text-uho-dark_gray font-bold"><%= t('uho_quotes.title') %></h1>

    <div class="opacity-100 md:opacity-0 md:animate-fade-in">
      <div class="pt-32 md:pt-36 md:animate-yurayura transition-transform md:hover:pause">
        <div>
         <%= image_tag 'gorilla.svg' %>
        </div>
      </div>
    </div>

    <div class="pt-16 md:pt-20 2xl:mt-32 pb-6">
      <div class="text-center">
        <%= link_to "カテゴリを選ぶ", categories_path,
            class: "block ring-2 ring-black rounded-md bg-uho-middle_yellow px-5 py-5 text-black hover-button"%>
      </div>   
    </div>
  </div>
</div>
